[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
request = "*"
pymongo = "==3.4.0"
pytest = "*"
pytest-flask = "*"
requests = "*"
"requests-oauth2" = "*"
"json2html" = "*"
coverage = "*"

[dev-packages]
pytest = "*"
pytest-flask = "*"
mock = "*"

[requires]
python_version = "3.6"
